<div class="bslib-grid bslib-mb-spacing html-fill-item list" data-require-bs-caller="layout_column_wrap()" data-require-bs-version="5" style="grid-template-columns:repeat(2, minmax(0, 1fr));grid-auto-rows:1fr;--bslib-grid-height:auto;--bslib-grid-height-mobile:auto;">
<% for (const item of items) { %>
<div class="card bslib-card bslib-mb-spacing html-fill-item html-fill-container" data-bslib-card-init data-require-bs-caller="card()" data-require-bs-version="5" <%= metadataAttrs(item) %>>
<div class="card-body bslib-gap-spacing html-fill-item html-fill-container" style="margin-top:auto;margin-bottom:auto;flex:1 1 auto;">
<img class="<%- item['tem_img'] %>" src="<%- item['logo'] %>" style='position: absolute;right: 0px; top: 0px; width: 80px;'/>
<p class="listing-title"><strong>Name:</strong> <%= item['title'] %></p>
<p class="listing-description"><strong>Description:</strong> <details><summary>Show</summary><%= item['description'] %></details></p>
<p class="listing-active"><strong>Active:</strong> <%= item['active'] %></p>
<p class="listing-type"><strong>Type:</strong> <%= item['type'] %></p>
<p class="listing-status"><strong>Status:</strong> <%= item['status'] %></p>
<p class="listing-authors"><strong>Authors:</strong> <%= item['authors'] %></p>
<p class="listing-language"><strong>Language:</strong> <%= item['language'] %></p>
<p class="listing-institution"><strong>Sponsor:</strong> <%= item['institution'] %></p>
<p><a href="<%- item['link'] %>" target='_blank'><strong>Link</strong></a></p>
</div>
<script data-bslib-card-init>bslib.Card.initializeAllCards();</script>
</div>
<% } %>
</div>